body{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	margin: auto;
	background-color: #d3d3d3;
	color: black;
	max-width: 1600px;
}

h1.logo{
	font-size: 44px;
	font-weight: 700;
	color: black;
	text-align:center;
	letter-spacing: 5px;
	margin: 50px auto;
}

/* nav */

nav{
	background-color: #f9abab;
	text-align: center;
}

.menu{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 20px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed black;
}

.menu > li:first-child{
	border-left: 1px dashed black;
}

.menu a{
	color: black;
	text-decoration: none;
}

.menu a:hover{
	color: gray;
}

a.active{
	color: white;
}

.work{
	float:left;
}

/* exerciseTab */

#exerciseTab{
	width: 50%;
	overflow: hidden;
}

#exerciseTab img{
	max-width: 100%;
	position: relative;
	top: -30px;
}

/* treningViev */

#treningView{
	width: 50%;
}

.listTitle{
	text-align: center;
	margin: 23px;
}

.titleEdit{
	display: block;
	height: 29px;
	margin: 20px auto;
	font-size: 1.5em;
	font-weight: bold;
}

#editButton{
	background-color: rgb(221, 221, 221);
	border-radius: 10px;
	font-size: 1em;
	padding: 8px;
	position: relative;
	left: 10%;
	outline: none;
	border: solid 2px #d39494;
}

#editButton:hover{
	border: solid 2px #a77878;
}

.listElement{
	width: 80%;
	margin: 10px auto;
	background-color: #b8b8b8;
	border: 3px solid  #d39494;
	border-radius: 15px;
	position: relative;
	box-sizing: border-box;
}

.animNew{
	margin-left: 10%;
	animation-name: showUp;
	animation-duration: 0.3s;
}

@keyframes showUp{
	0% {
		width: 0;
	}
	100% {
		width: 80%;
	}
}

.listElement:hover{
	border: solid 3px #a77878;
}

.miniCanv{
	margin: 20px;
	width: 20%;
}

.comment{
	width: 40%;
	position: absolute;
	top: 40%;
	font-size: 18px;
}

.textEdit{
	font-size: 18px;
	position: absolute;
	top: 40%;
	width: 30%;
}

.arrows{
	width: 20%;
	position: absolute;
	right: 15%;
	top: 50%;
	transform: translate(0, -50%);
	height: 50%;
}

.arrows img{
	display: block;
	margin: 5px auto;
	height: 40%;
}

.delete{
	float:right;
	position: absolute;
	top: 10%;
	right: 5%;
	height: 20%;
}

.animDelete{
	animation-name: delMove;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
}

@keyframes delMove{
	from {left: 0;}
	to {left: 150%;}
}

.hide{
	display: none;
}

.info{
	margin: 20px;
}

@media only screen and (max-width: 650px) {
h1.logo{
	letter-spacing: 2px;
	margin: 25px auto;
}
	
.menu > li{
	display: block;
	border: none;
}

.menu > li:first-child{
	border: none;
}

.work{
	clear: both;
}

#exerciseTab{
	max-width: 100%;
    height: auto;
    width: auto;
}

#treningView{
	width: 100%;
}

.listTitle{
	margin-top: 0;
}
}